
.h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
}
.h12 {
    font-family: 'Anton', sans-serif;  
}
.p {
    color: snow;
    text-align: start;
    
}
.p1 {
    color: snow;
    text-align: center;
}
.h5 {
    margin-left: 445px;
}
.p2 {
    color: snow;
    text-align: start;
    margin: 70px;
}
.bodyp {
    margin-left: 44px;
    height: 500px;
    width: 1100px;   
}
.u {
    color: snow;
    text-align: start;
    margin: 70px;
    font-size: 30px;
}
.img {
   text-align: start;
    width: 800px;
    height: 400px;
    margin-left: 70px;
}
.h6 {
    margin-left: 420px;
}
.li {
    font-size: 20px;
}
.footer {
    height: 100px;
    width: auto;
    background: rgb(24,18,18);
background: radial-gradient(circle, rgba(24,18,18,1) 0%, rgba(47,43,43,1) 100%);
    text-align: center;
padding-top: center;
}
.footerdiv {
    color: white;
}



